@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

$color-primary : #d65a31;
$color-secondary : #393e46;
$color-white : #eeeeee;
$color-dark : #222831;

$font-family-montserrat : 'Montserrat', sans-serif;
$font-family-roboto : 'Roboto', sans-serif;


// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

