// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Overlock&display=swap');

@import 'variable';

.navbar-brand {
    font-family: 'Overlock', cursive;
}

.bg-modern {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;
}
.btn-outline-modern{
    color: $color-primary;
    background-color: transparent;
    background-image: none;
    border-color: $color-primary;
    &:hover{
        color: #fff;
        background-color: $color-primary;
        border-color: $color-primary;
    }
}
.text-modern {
    color: $color-primary !important;
}

.display-4{
    @extend .navbar-brand;
}
#sidebar {
    background-color: $color-white;
    color: white;
    overflow: auto;
    .list-group-item{
        padding: 0;
        border-color: transparent;
        a{
            padding: .75rem 1rem;
            text-align: left;
            span{
                padding-left: 3em;
                padding-right: 1em;
                float: left;
            }
            div{
                display: inline-block;
                float: right;
            }
        }
        .active{
            background-color: transparent !important;
            border-left: 5px solid $color-primary;
            a{
                padding-left: .5rem;
            }
        }
    }
    .active{
        background-color: transparent !important;
        border-left: 5px solid $color-primary;
        a{
            padding-left: .5rem;
        }
    }
    div.collapse{
        ul{
            color: black;
            .list-group-item {
                //border-color: white;
                background-color: transparent;
                a{
                    text-align: center;
                }
                .active{
                    border-color: $color-primary !important;
                }
            }

        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    #sidebar {
        position: fixed;
        z-index: 9;
        height: 100%;
        flex : 0 0 100% !important;
        max-width: 100% !important;
    }
    main {
        flex : 0 0 100% !important;
        max-width: 100% !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    #sidebar {
        flex : 0 0 100% !important;
        max-width: 100% !important;
    }
    main {
        flex : 0 0 100% !important;
        max-width: 100% !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
