@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Overlock&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");
.navbar-brand, .display-4 {
  font-family: "Overlock", cursive;
}

.bg-modern {
  background-color: #d65a31;
  border-color: #d65a31;
  color: white;
}

.btn-outline-modern {
  color: #d65a31;
  background-color: transparent;
  background-image: none;
  border-color: #d65a31;
}
.btn-outline-modern:hover {
  color: #fff;
  background-color: #d65a31;
  border-color: #d65a31;
}

.text-modern {
  color: #d65a31 !important;
}

#sidebar {
  background-color: #eeeeee;
  color: white;
  overflow: auto;
}
#sidebar .list-group-item {
  padding: 0;
  border-color: transparent;
}
#sidebar .list-group-item a {
  padding: 0.75rem 1rem;
  text-align: left;
}
#sidebar .list-group-item a span {
  padding-left: 3em;
  padding-right: 1em;
  float: left;
}
#sidebar .list-group-item a div {
  display: inline-block;
  float: right;
}
#sidebar .list-group-item .active {
  background-color: transparent !important;
  border-left: 5px solid #d65a31;
}
#sidebar .list-group-item .active a {
  padding-left: 0.5rem;
}
#sidebar .active {
  background-color: transparent !important;
  border-left: 5px solid #d65a31;
}
#sidebar .active a {
  padding-left: 0.5rem;
}
#sidebar div.collapse ul {
  color: black;
}
#sidebar div.collapse ul .list-group-item {
  background-color: transparent;
}
#sidebar div.collapse ul .list-group-item a {
  text-align: center;
}
#sidebar div.collapse ul .list-group-item .active {
  border-color: #d65a31 !important;
}

@media (max-width: 576px) {
  #sidebar {
    position: fixed;
    z-index: 9;
    height: 100%;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  main {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
@media (max-width: 768px) {
  #sidebar {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  main {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

/*# sourceMappingURL=layout.css.map */
